[user]
    name = Kevin Van Leer
    email = kvl@conduce.com
[push]
    default = simple
[pull]
    rebase = true
[log]
    date = local
[alias]
    update = fetch
    stat = status
    co = checkout
    ch = checkout
    ci = commit -a
    st = status
    cl = clone
    br = branch
    rs = reset
    rb = rebase
    rbd = rebase develop
    rbc = rebase --continue
    rba = rebase --abort
    rbs = rebase --skip
    rbi = rebase -i HEAD~6
    rbf = rebase -i HEAD~2
    squash = rebase -i --autosquash HEAD~6
    shove = push --force
    lol = log --oneline --graph --decorate
    lola = log --all --oneline --graph --decorate
    cleanup = "!git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n 1 git branch -d"
[merge]
    tool = meld
[mergetool "meld"]
    #cmd = meld $LOCAL $BASE $REMOTE
    #cmd = meld $LOCAL $BASE $REMOTE --output $MERGED
    cmd = meld --auto-merge --output=$MERGED $LOCAL $BASE $REMOTE --diff $BASE $LOCAL --diff $BASE $REMOTE
    conflictstyle = diff3
    trustExitCode = false
[diff]
    tool = meld
[difftool "meld"]
    cmd = meld $LOCAL $REMOTE
[core]
    editor = /usr/bin/vim
