[user]
	name = Kevin Van Leer
	email = kvl@conduce.com
[push]
	default = simple
[pull]
	rebase = true
[log]
	date = local
[alias]
	update = fetch
	stat = status
	co = checkout
	ci = commit -a
	st = status
	ch = checkout
	cl = clone
	br = branch
	rs = reset
	rb = rebase
	lol = log --oneline --graph --decorate
	lola = log --all --oneline --graph --decorate
[merge]
	tool = meld
[mergetool "meld"]
	#cmd = meld $LOCAL $BASE $REMOTE
	#cmd = meld $LOCAL $BASE $REMOTE --output $MERGED
	cmd = meld --auto-merge --output $MERGED $LOCAL $BASE $REMOTE --diff $BASE $LOCAL --diff $BASE $REMOTE
	conflictstyle = diff3
	trustExitCode = false
[diff]
	tool = meld
[difftool "meld"]
	cmd = meld $LOCAL $REMOTE
