[user]
#    name = Kevin Van Leer
#    email = kevin.vanleer@gmail.com
[push]
    default = simple
[pull]
    rebase = true
[log]
    date = local
[alias]
    update = fetch
    stat = status
    co = checkout
    cob = checkout -b
    mb = checkout -b
    ch = checkout
    ci = commit -a
    st = status
    cl = clone
    br = branch
    rs = reset
    rb = rebase
    rbm = rebase main
    rbc = rebase --continue
    rba = rebase --abort
    rbs = rebase --skip
    rbi = rebase -i 
    rbf = rebase -i HEAD~2
    cherry = cherry-pick
    pick = cherry-pick
    squash = rebase -i --autosquash HEAD~6
    shove = push --force
    lol = log --oneline --graph --decorate
    lola = log --all --oneline --graph --decorate
    cleanup = "!git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n 1 git branch -d"
    revise = commit --amend --no-edit
[merge]
    tool = meld
[mergetool "meld"]
    #cmd = meld $LOCAL $BASE $REMOTE
    #cmd = meld $LOCAL $BASE $REMOTE --output $MERGED
    cmd = meld --auto-merge --output=$MERGED $LOCAL $BASE $REMOTE --diff $BASE $LOCAL --diff $BASE $REMOTE
    conflictstyle = diff3
    trustExitCode = false
[diff]
    tool = meld
[difftool "meld"]
    cmd = meld $LOCAL $REMOTE
[core]
    autocrlf = input
[includeif "gitdir:~/src/north-capital/**"]
    path = "~/src/north-capital/.gitconfig"
[includeif "gitdir:~/src/273ventures/**"]
    path = "~/src/273ventures/.gitconfig"
[includeif "gitdir:~/src/lapin/**"]
    path = "~/src/lapin/.gitconfig"
